@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f2f7;
  overflow-x: hidden;
}

main {
  margin-right: 12px;
}

/* WELCOME CARD */
.welcome-card {
  position: relative;
  border-radius: 15px;
  padding: 22px;
  width: 100%;
  height: 250px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to left, rgb(12, 38, 122, 0.9), rgba(23, 61, 192, 0.902));
  transition: transform 0.5s, box-shadow 0.3s;
}

.welcome-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.greeting {
  transition: opacity 0.5s ease;
}

.card-content {
  z-index: 2;
  position: relative;
}

.card-content h3 {
  margin: 0;
  color: white;
  font-weight: 400;
}

.card-content h1 {
  margin: 5px 0 15px;
  color: white;
  font-weight: 500;
}

.location-tag {
  display: inline-block;
  position: absolute;
  top: 165px;
  background-color: #a0acd4;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-image {
  position: absolute;
  top: 13px;
  bottom: 5px;
  left: 330px;
  right: 30px;
  width: 350px;
  height: auto;
  z-index: 1;
  justify-content: space-between;
}

.live-card {
  position: relative;
  background: whitesmoke;
  color: #12309e;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  height: 250px;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s, box-shadow 0.3s;
  align-items: center;
}

.live-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

#calendar-icon, #clock-icon {
  color: #244793;
  font-size: 1rem;
}

hr {
  border: none;
  height: 5px;
  background-color: #384f9d;
  border-radius: 5px;
}